<style>
    .footer {
        background-color:#4CAF50 ;
        height: 10.5rem;
        width: 100%;
    }
    .inf {
        display: flex;
    }
    .info i {
        font-weight: bolder;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }
    .call-us i {
        margin-right: 38rem;
    }
    .links a {
        color: #fff;
    }
</style>


<div class="footer">
    <div class="container">
        <div class="inf">
            <div class="info" style="margin-top: 0.3rem;">
                <h6>استاذ/جمال السناني</h6>
                <div class="tel" style="display: flex;">
                    jamalsinani@gmail.com
                    <i class="material-icons" style="margin-top: 0;">email</i>
                </div>
                <div class="tel" style="display: flex;">
                    <h6>968 99636239</h6>
                    <i class="material-icons">phone</i>
                </div>
            </div>
            <div class="logo">
                <img src="5519949e-447a-4ba2-8384-0a54cbiiiiiiiiiiiiiiiiiiiiiii4f0cf7.png" style="width: 6rem; margin-right: 1rem; margin-top: 0.5rem;">
            </div>
            <div class="links" style="margin-top: 0.3rem; margin-right: 16rem;">
                <h5 style="font-weight: bolder;">روابط سريعه</h5>
                <% if (user) { %>
                    <a href="/login">الرئيسية</a> <br>
                    <a href="/classes">الفصول</a> <br>
                    <a href="/editteacher">بياناتي</a> <br>
                <% }else{ %>
                    <a href="/login">تسجيل الدخول</a> <br>
                    <a href="/signup">تسجيل جديد</a> <br>
                <%} %>
            </div>
            <div class="call-us" style="margin-right: 13rem;">
                <a href="/callUs" style="color: #000;">
                    <h3>Call Us</h3>
                </a>
            </div>
        </div>
        <div class="Copyright" style="text-align: center; margin-top: -1rem;">
            <h6>Modify the design and programming the site by <a href="https://www.facebook.com/profile.php?id=100009081027328" style="color: #fff;">Ezz Aldin</a></h6>
        </div>

    </div>
    
</div>