<style>
    .nav-wrapper a {
        color: black;
    }

    .nav-wrapper .btn {
        color: white;
    }

    .nav-icon{
        padding:5px;
        width:40px;
        height: 40px;
        border-radius: 40px;
        display: inline-block;
        position: relative;
        top:10px;
        
    }

    .book-icon{
        position: relative;
        bottom:14px;
        left:3px;
    }

    #sidebar {
        position: absolute;
        width: 0;
        height: 100%;
    }
    
    #menue {
        list-style: none;
        color: #fff;
        text-align: center;
        visibility: hidden;
        margin-top: -0.8rem;
    }

    #menue i {
        margin-left: 0.5rem;
    }

    #sidebar ul li a {
        width: 8rem;
        height: 2.8rem;
        background-color: #fff;
        display: flex;
    }

    #sidebar ul li a:hover {
        background-color: #000;
        color: #fff;
    }
    .m-fadeOut {
        visibility: visible;
        opacity: 0;
        transition: visibility 0s linear 300ms, opacity 300ms;
    }

</style>


<nav class="white">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo right">
            <div class="nav-icon green">
                <i class="material-icons white-text book-icon">book</i>
            </div>
            <span class="logo-text">سجلاتي</span>
        </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">

            <% if (user) { %>
                <li>
                    <div id="sidebar">
                        <div id="tog" class="toggel-btn" style="margin-right: -2.4rem;">
                            <img class="mx-auto d-block rounded-circle border border-dark m-2" src='/<%= image %>' style="height: 2.5rem;width: 2.5rem;border-radius: 2rem;margin-top: 0.9rem;">
                        </div>
                        <ul id="menue">
                            <li><a href="/editteacher"><i class="material-icons">person</i><%= username %></a></li>
                            <li><a href="/editteacher"><i class="material-icons">settings</i>بياناتي</a></li>
                            <li><a href="/classes"><i class="material-icons">class</i>الفصول</a></li>
                            <li><a href="/logout"><i class="material-icons">logout</i>خروج</a></li>
                        </ul>
                    </div>
                </li>
                <li style="margin-left: 3rem;"><a href="/callUs">اتصل بنا</a></li>
                
            <li><a style="text-align:right" href="/">الرئيسية</a></li>
    
           <% }else{ %>
            <li><a href="/login" class="btn green">تسجيل الدخول</a></li>
            <li><a href="/signup" class="btn light-blue"> تسجيل جديد</a></li>
            <li><a href="/callUs" class="btn orange">اتصل بنا</a></li>
           <%} %>
            
        </ul>

        <a href="#" data-target="sidebar" class="sidenav-trigger left"><i class="material-icons">menu</i></a>
    </div>
</nav>

<ul class="sidenav" style="direction:ltr;" id="sidebar">
    <% if (user) { %>
        <li><a style="text-align:right" href="/">الرئيسية</a></li>
        <li><a style="text-align:right" href="/classes">الفصول</a></li>
        <li><a style="text-align:right" href="/logout">تسجيل الخروج</a></li>

   <% }else{ %>
    <li><a style="text-align:right" href="/login" >تسجيل الدخول</a></li>
    <li><a style="text-align:right" href="/signup">تسجيل جديد</a></li>
   <%} %>
  </ul>

  <script>
        $(document).ready(function(){
    $('.sidenav').sidenav();
  });

  const tog = document.getElementById("tog");
  const menue = document.getElementById('menue');
  tog.addEventListener("click", function() {
  
    menue.style.visibility = "visible";
    menue.classList.toggle("m-fadeOut");
    });
  </script>
