<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>سجلاتي - إضافة عمود</title>

    <% include ./partials/header.ejs %>

    <style>
        body{
            background: whitesmoke;
        }
        .row {
            margin-top: 20px;
        }

        .container {
            margin-top: 7%;
        }

        .back-btn{
            margin-left:25px;
            cursor: pointer;
        }

        .brand-logo{
            color:black!important;
        }

        .dropdown-content li {
        text-align: center;

    }

    .select-wrapper input.select-dropdown {
        text-align: center;
    }
</style>
</head>

<body>

    <nav class="white">

        <div class="nav-wrapper black-text">
            <a href="#" class="brand-logo center">إضافة عمود</a>

            <div class="left back-btn"><i class="material-icons">arrow_back_ios</i></div>
        </div>


    </nav>

    <div class="container">

        <form id="addcolumnform" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" name="name" type="text" class="validate" required>
                    <label for="name"> الاسم</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="short" name="short" type="text" class="validate" required>
                    <label for="short"> الاختصار</label>
                </div>
            </div>

            <div class="row">
                    <div class="input-field col s12">
                        <input id="value" name="value" type="text" class="validate">
                        <label for="value"> الدرجة</label>
                    </div>
                </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="desc" name="desc" type="text" class="validate" required>
                    <label for="desc">الوصف</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <select id="type-select" name="type">
                        <option value="number">حقل رقم</option>

                        <% if(columns.length < 2){ %>
                        <option value="avg" disabled>متوسط</option>
                        <option value="total" disabled>مجموع</option>
                       <% }else{ %>
                        <option value="avg" >متوسط</option>
                        <option value="total">مجموع</option>
                       <% } %>
                    </select>
                    <label>النوع</label>
                </div>

            </div>

            <input type="hidden" name="classId" value="<%=classId %>" />

            <div style="display:none" id="input-columns" class="row">
                <h6>اختار أعمدة الادخال</h6>
                

                <% columns.forEach((item)=>{ %>

                    <p>

                            <label><input class="filled-in" name="input-columns" type="checkbox" /><span><%= item.name %></span></label>
        
                        </p>
                <% }) %>

            </div>


            <div class="row">
                <button id="submit-btn" class="btn col s4 offset-s4 c green">إضافة</button>
            </div>
        </form>

    </div>

    <% include ./partials/footer.ejs %>
</body>

<script>

    $('.back-btn').click((e) => {
        let classId = $('input[name="classId"').val();
        window.location.href = '/managecolumns/' + classId;
    })

    $('#type-select').on('change', (e) => {

        if ($('#type-select').val() === 'avg' || $('#type-select').val() === 'total') {
            $('#input-columns').css('display', 'block')
        } else {
            $('#input-columns').css('display', 'none')
        }


    })

    $('#addcolumnform').submit((e) => {
        e.preventDefault();

        $('#submit-btn').attr('disabled','disabled')
        
        let name = $('input[name="name"]').val();
        let short = $('input[name="short"]').val();
        let desc = $('input[name="desc"]').val();
        let value = $('input[name="value"]').val();
        let type = $('#type-select').val()
        let classId = $('input[name="classId"').val();

        let inputColumns = $('input[type="checkbox"]:checked')

        let checkedColumns = [];

        for (let i = 0; i < inputColumns.length; i++) {
                checkedColumns.push(inputColumns[i].parentElement.lastElementChild.textContent.trim())
            }
        
        let req = $.post('/addcolumn',{name,short,desc,type,inputColumns:checkedColumns,classId,value})

        req.done((res)=>{
            if(res === 'done'){
                window.location.href = '/managecolumns/' + classId
            }else if(res === 'error'){
                M.toast({html: 'العمود موجود مسبقاً الرجاء إضافة إسم أخر'})
            }else if(res === 'limit'){
                M.toast({html: 'عدد الأعمدة 15 لا يمكننك إضافة المزيد من الأعمدة'})
            }

            $('#submit-btn').removeAttr('disabled')
        })
    })
</script>

</html>
