<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>سجلاتي - تسجيل جديد</title>

    
    <style>

        .alert-message{
            padding:12px;
            background:rgba(218, 125, 125,0.5);
            margin: 0 10px;
            color:rgb(216, 71, 71);
            font-size:17px;
            text-align:center;
        }

        .login-container{
            margin-top:10%!important;
            padding:25px;
        }
    
    </style>

     <% include ./partials/header.ejs %>
</head>

<body>
 
   
    <div class="container z-depth-2 login-container">
        <form class="col s12" action="/signup" method="POST">

            <h4 class="center-align">تسجيل حساب جديد</h4>

            <div class="row">
                <div class="input-field col s12">
                    <input style="direction:rtl;" id="username" name="username" type="text" class="validate" required>
                    <label for="username"> اسم المستخدم</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate">
                    <label for="email">البريد الالكتروني</label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">كلمة السر</label>
                </div>
            </div>

            <% if(message.length > 0){ %>

                <div class="row">
                        <div class="s12 alert-message">
                            <%= message[0] %>
                        </div>
                    </div>

            <% } %>

            <div class="row">
                <div class="input-field col s12">
                    <button type="submit" style="width:100%" class="btn btn-block green"> تسجيل </button>
                </div>
                <div class="right-align" class="row">
                <a href="/login">لديك حساب سابقا</a>
            </div>
            </div>

        </form>
    </div>
</body>

</html>
