<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <% include ./partials/header.ejs %>

   
</head>

<body>
    

    <div class="container">
        <table>
            <th style="text-align: center;">Users</th>
            <% for (let i = 0; i < users.length; i++) { %>
            <tr>
                <td><%= users[i].username %></td>
                <td style="text-align: inherit;"><%= i + 1 %></td>
            </tr>
            <% } %>
        </table>
        
    </div>
</body>

</html>
